<html>
<head>
    <title>
        Formato FO-GESR Acta de Visita de Supervisión General en Establecimiento
        Educativo – Seguridad Alimentaria
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="http://fonts.googleapis.com/css?family=Roboto"
            rel="stylesheet"
            type="text/css"
    />
    <style>
        body {
            font-family:"Calibri, sans-serif";
            font-size: 	0.8em;
        }

        @media print {
            @page {
                size: landscape;
            }
        }

    </style>
</head>
<body>
<table style="width: 100%;" border="1" cellspacing=0;>
    <tr>
        <td colspan="3" style="background-color: blue;">&nbsp</td>
    </tr>
    <tr>
        <td>Cod. FO-GESR - 1653</td>
        <td rowspan="2" style="text-align: center;">
            FORMATO FO-GEST Acta de Visita de Supervisión General en
            Establecimiento Educativo - Seguridad Alimentaria
        </td>
        <td rowspan="2">
            image
        </td>
    </tr>
    <tr>
        <td>Versión. 1</td>
    </tr>
    <tr>
        <td colspan="3" style="background-color: blue;">&nbsp;</td>
    </tr>
</table>
<p>
    NFORMACIÓN GENERAL Registre el Nombre del Establecimiento Educativo (E.E)
    y Dirección, Señale con una X el Concepto Sanitario de Secretaría de Salud
    y registre la fecha de la visita utilizando dos dígitos para día- mes y
    año, Seleccione con X el o los operadores que ejecutan al interior del E.E
</p>
<table style="width: 100%;" border="1" cellspacing=0;>
    <tr>
        <td>CONTRATISTA:</td>
        <td>GRLOGÍSTICA INTEGRAL</td>
        <td>&nbsp;</td>
        <td>ALIRIO GÓMEZ G. SERVICIOS DE ALIMENTACIÓN S.A.S</td>
        <td>&nbsp;</td>
        <td>CONSORCIO PAE MEDELLÍN</td>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td rowspan="4">ESPACIO INTERVENIDO</td>
        <td rowspan="3">ESTABLECIMIENTO EDUCATIVO (E.E):</td>
        <td rowspan="3"></td>
        <td>CONCEPTO DE SECRETARÍA DE SALUD - R.P.S.</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>CONCEPTO DE SECRETARÍA DE SALUD - R.I.</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>CONCEPTO DE SECRETARÍA DE SALUD - VL</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>DIRECCIÓN</td>
        <td>&nbsp;</td>
        <td>CONCEPTO DE SECRETARÍA DE SALUD - RC</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>OPERADORES</td>
        <td>GR LOGÍSTICA INTEGRAL</td>
        <td>&nbsp;</td>
        <td>ALIRIO GÓMEZ G. SERVICIOS DE ELIMENTACIÓN S.A.S</td>
        <td>&nbsp;</td>
        <td>CONSORCIO PAES MEDELLÍN</td>
        <td colspan="2">&nbsp;</td>
    </tr>
</table>
<p>
    VISITA Registre la fecha según directriz previa, seleccione con X si la
    visita es Efectiva. Registre hora de inicio y finalización de la visita.
    Diligencie con una X el Tipo de Complemento o complementos a evaluar en el
    E.E y registre según las modalidades de atención el Número de titulares de
    derecho programados según grupo poblacional (grados escolares: Transición,
    1 a 3; 4 a 5, 6 a 9, 10 a 11), informe que Semana y Menú se ejecuta el día
    de la visita para cada Complemento. Esta información está sujeta a cambios
    de acuerdo a los pliegos de cada licitación del programa de Alimentación
    PAE
</p>
<table width="100%" border="1" cellspacing=0;>
    <tr>
        <td>VISITA</td>
        <td colspan="5"></td>
        <td colspan="5">FECHA</td>
        <td colspan="10"></td>
        <td colspan="5">HORA INICIO VISITA</td>
        <td colspan="5"></td>
        <td colspan="5">HORA FINALIZACIÓN VISITA</td>
        <td colspan="5"></td>
        <td colspan="5">VISITA EFECTIVA</td>
        <td colspan="3">&nbsp;</td>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td>COMPLEMENTO</td>
        <td colspan="5">COMPLEMENTO TIPO ALMUERZO</td>
        <td colspan="5">&nbsp;</td>
        <td colspan="5">COMPLEMENTO TIPO AM/PM</td>
        <td colspan="5">&nbsp;</td>
        <td colspan="5">RACIÓN INDUSTRIALIZADA</td>
        <td colspan="5">&nbsp;</td>
        <td colspan="5">VASO DE LECHE</td>
        <td colspan="5">&nbsp;</td>
        <td colspan="5">RACIÓN DE CONTINGENCIA</td>
        <td colspan="5">&nbsp;</td>
    </tr>
    <tr>
        <td># DE BENEFICIARIOS</td>
        <td>TRN</td>
        <td>&nbsp;</td>
        <td>1 a 2</td>
        <td>&nbsp;</td>
        <td>4 a 5</td>
        <td>&nbsp;</td>
        <td>6 a 9</td>
        <td>&nbsp;</td>
        <td>10 a 11</td>
        <td>&nbsp;</td>
        <td>TRN</td>
        <td>&nbsp;</td>
        <td>1 a 2</td>
        <td>&nbsp;</td>
        <td>4 a 5</td>
        <td>&nbsp;</td>
        <td>6 a 9</td>
        <td>&nbsp;</td>
        <td>10 a 11</td>
        <td>&nbsp;</td>
        <td>TRN</td>
        <td>&nbsp;</td>
        <td>1 a 2</td>
        <td>&nbsp;</td>
        <td>4 a 5</td>
        <td>&nbsp;</td>
        <td>6 a 9</td>
        <td>&nbsp;</td>
        <td>10 a 11</td>
        <td>&nbsp;</td>
        <td>TRN</td>
        <td>&nbsp;</td>
        <td>1 a 2</td>
        <td>&nbsp;</td>
        <td>4 a 5</td>
        <td>&nbsp;</td>
        <td>6 a 9</td>
        <td>&nbsp;</td>
        <td>10 a 11</td>
        <td>&nbsp;</td>
        <td>TRN</td>
        <td>&nbsp;</td>
        <td>1 a 2</td>
        <td>&nbsp;</td>
        <td>4 a 5</td>
        <td>&nbsp;</td>
        <td>6 a 9</td>
        <td>&nbsp;</td>
        <td>10 a 11</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>SEMANA - MENÚ</td>
        <td colspan="3">SEMANA:</td>
        <td colspan="3"></td>
        <td colspan="2">MENÚ</td>
        <td colspan="2"></td>
        <td colspan="3">SEMANA:</td>
        <td colspan="3"></td>
        <td colspan="2">MENÚ</td>
        <td colspan="2"></td>
        <td colspan="3">SEMANA:</td>
        <td colspan="3"></td>
        <td colspan="2">MENÚ</td>
        <td colspan="2"></td>
        <td colspan="3">SEMANA:</td>
        <td colspan="3"></td>
        <td colspan="2">MENÚ</td>
        <td colspan="2"></td>
        <td colspan="3">SEMANA:</td>
        <td colspan="3"></td>
        <td colspan="2">MENÚ</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2">NOMBRE INTERVENTOR:</td>
        <td colspan="49">&nbsp;</td>
    </tr>
</table>
<table style="page-break-before: always; width: 100%;" border="1" cellspacing=0;>
    <tr>
        <td colspan="3" style="background-color: blue;">&nbsp</td>
    </tr>
    <tr>
        <td>Cod. FO-GESR - 1653</td>
        <td rowspan="2" style="text-align: center;">
            FORMATO FO-GEST Acta de Visita de Supervisión General en
            Establecimiento Educativo - Seguridad Alimentaria
        </td>
        <td rowspan="2">
            image
        </td>
    </tr>
    <tr>
        <td>Versión. 1</td>
    </tr>
    <tr>
        <td colspan="3" style="background-color: blue;">&nbsp;</td>
    </tr>
</table>
<p>
    LISTA DE CHEQUEO Responda a cada una de los Títulos de Preguntas
    Orientadoras en los siguientes términos: Cumple con la letra (C), No
    cumple (N.C), No observado (NO) o No Aplica (NA). Debe respetar la casilla
    descrita para cada modalidad de atención: Complemento jornada AM/PM
    (AM/PM), Complemento tipo almuerzo (CTA), Ración Industrializada (RI),
    Vaso de Leche (VL) y ración de contingencia (RC)
</p>
<table border="1" width="100%" cellspacing="0">
    <tr>
        <td>No</td>
        <td>PREGUNTAS ORIENTADORAS</td>
        <td>AM/PM</td>
        <td>CTA</td>
        <td>RI</td>
        <td>VL</td>
        <td>RC</td>
    </tr>
    <tr>
        <td colspan="7" style="text-align: center;">
            CARACTERÍSTICAS DE LOS VEHICULOS PARA EL TRANSPORTE DE ALIMENTOS
        </td>
    </tr>
</table>
<p>
    LISTA DE CHEQUEO Responda a cada una de las Preguntas en los siguientes
    términos: (SI) o (NO).
</p>
<table style="width: 100%;" border="1" cellspacing=0;>
    <tr>
        <td>No</td>
        <td>PREGUNTAS ORIENTADORAS</td>
        <td>AM/PM</td>
        <td>CTA</td>
        <td>RI</td>
        <td>VL</td>
        <td>RC</td>
    </tr>
    <tr>
        <td colspan="7" style="text-align: center;">
            CARACTERÍSTICAS DE LOS VEHICULOS PARA EL TRANSPORTE DE ALIMENTOS
        </td>
    </tr>
</table>
<p>
    VALUACIÓN DE MENÚ. Registre según la PREPARACIÓN a evaluar, el Nombre del
    alimento, seleccione sobre el grupo poblacional a evaluar con X (TRN=
    transición; 1ª3; 4ª5; 6ª9; 10ª11) registre los pesos de referencia egún
    los lineamientos para el grupo de edad seleccionado, registre el peso de
    verificación en la casilla REAL y califique con la letra C (Cumple) o NC
    (No Cumple) el cotejo de PESOS (g) y las CARACTERÍSTICAS ORGANOLÉPTICAS
    del menú evaluado. Esta información está sujeta a cambios de acuerdo a los
    pliegos de cada licitación del programa de Alimentación PAE.
</p>
<table style="width: 100%;" border="1" cellspacing=0;>
    <tr>
        <td colspan="12">EVALUACIÓN DE MENÚ VISITA</td>
    </tr>
    <tr>
        <td rowspan="2">PREPARACIÓN</td>
        <td rowspan="2" style="width: 40%;">ALIMENTOS</td>
        <td colspan="5" style="text-align: center;">GRUPO DE EDAD</td>
        <td colspan="3" style="text-align: center;">PESOS(g) / VALUMEN(cc)</td>
        <td colspan="2" style="text-align: center;">
            CARACTERISTICA ORGANOLEPTICAS
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">TRN</td>
        <td style="text-align: center;">1-3</td>
        <td style="text-align: center;">4-5</td>
        <td style="text-align: center;">6-9</td>
        <td style="text-align: center;">10-11</td>
        <td style="text-align: center;">REF</td>
        <td style="text-align: center;">REAL</td>
        <td style="text-align: center;">C/NC</td>
        <td style="text-align: center;">C/NC</td>
        <td style="text-align: center;">MODALIDAD</td>
    </tr>
    <tr>
        <td>Bebida 1</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
<p>
    INVENTARIO DE ALIMENTOS Registre el nombre de 10 Productos a Inventariar,
    La Marca, El Lote, Fecha de vencimiento, registre con la letra C (Cumple),
    NC (No Cumple) o NA (No aplica) en las variables que lo indican de
    Condiciones De Empaque y Condiciones De Rotulado y exprese las cantidades
    de alimentos evaluados en unidades de medida. Tener en cuenta los
    alimentos de alto riesgo.
</p>
<table style="width: 100%;" border="1" cellspacing=0;>
    <tr>
        <td colspan="12" style="text-align: center;">
            INVENTARIO DE ALIMENTOS
        </td>
    </tr>
    <tr>
        <td rowspan="2">PRODUCTOS AM/PM - CTA</td>
        <td rowspan="2">MARCA</td>
        <td rowspan="2">LOTE</td>
        <td rowspan="2">FECHA DE VENCIMIENTO</td>
        <td>CONDICIONES DE EMPAQUE</td>
        <td>CONDICIONES DE ROTULADO</td>
        <td colspan="5">CANTIDAD</td>
        <td>CONCIDE CON KARDEX</td>
    </tr>
    <tr>
        <td>C/NC/NA</td>
        <td>C/NC/NA</td>
        <td>ENCONTRADA</td>
        <td>ESPERADA</td>
        <td>EXCEDENTE EMPAQUE</td>
        <td>DIFERENCIA</td>
        <td>C/CN</td>
        <td>C/NC</td>
    </tr>
</table>
<p>
    INVENTARIO DE ALIMENTOS Registre los productos del complemento V.L y/o
    R.I, La Marca, El Lote, Fecha de vencimiento, registre con la letra C
    (Cumple), NC (No Cumple) o NA (No aplica) en las variables que lo indican
    de Condiciones De Empaque, Condiciones De Rotulado, Cantidad, Condiciones
    de transporte y Temperatura recepción y exprese las cantidades de
    alimentos evaluados en unidades de medida.
</p>
<table style="width: 100%;" border="1" cellspacing=0;>
    <tr>
        <td colspan="12" style="text-align: center;">
            INVENTARIO DE ALIMENTOS
        </td>
    </tr>
    <tr>
        <td rowspan="2">PRODUCTOS V.L - R.I</td>
        <td rowspan="2">MARCA</td>
        <td rowspan="2">LOTE</td>
        <td rowspan="2">FECHA DE VENCIMIENTO</td>
        <td>CONDICIONES DE EMPAQUE</td>
        <td>CONDICIONES DE ROTULADO</td>
        <td colspan="5">CANTIDAD</td>
        <td>CONCIDE CON KARDEX</td>
    </tr>
    <tr>
        <td>C/NC/NA</td>
        <td>C/NC/NA</td>
        <td>ENCONTRADA</td>
        <td>ESPERADA</td>
        <td>EXCEDENTE EMPAQUE</td>
        <td>DIFERENCIA</td>
        <td>C/CN</td>
        <td>C/NC</td>
    </tr>
</table>
<p>
    INVENTARIO DE ALIMENTOS Registre los productos del complemento R.C., La
    Marca, El Lote, Fecha de vencimiento, registre con la letra C (Cumple), NC
    (No Cumple) o NA (No aplica) en las variables que lo indican de
    Condiciones De Empaque, Condiciones De Rotulado, Cantidad, Condiciones de
    transporte y Temperatura recepción y exprese las cantidades de alimentos
    evaluados en unidades de medida.
</p>
<table style="width: 100%;" border="1" cellspacing=0;>
    <tr>
        <td colspan="12" style="text-align: center;">
            INVENTARIO DE ALIMENTOS
        </td>
    </tr>
    <tr>
        <td rowspan="2">PRODUCTOS R.C</td>
        <td rowspan="2">MARCA</td>
        <td rowspan="2">LOTE</td>
        <td rowspan="2">FECHA DE VENCIMIENTO</td>
        <td>CONDICIONES DE EMPAQUE</td>
        <td>CONDICIONES DE ROTULADO</td>
        <td colspan="5">CANTIDAD</td>
        <td>CONCIDE CON KARDEX</td>
    </tr>
    <tr>
        <td>C/NC/NA</td>
        <td>C/NC/NA</td>
        <td>ENCONTRADA</td>
        <td>ESPERADA</td>
        <td>EXCEDENTE EMPAQUE</td>
        <td>DIFERENCIA</td>
        <td>C/CN</td>
        <td>C/NC</td>
    </tr>
</table>
<p>
    SEGUIMIENTO A LAS CONDICIONES HIGIÉNICO SANITARIAS, Evalúe cada una de las
    Condiciones Higiénico Sanitarias con los siguientes términos: Cumple (C),
    No cumple (NC), No Observado (NO) o No aplica (NA); Complemento AM/PM
    (AM/PM), Complemento tipo Almuerzo (CTA), Ración Industrializada (RI),
    Vaso de Leche (VL) y ración de Contingencia (RC).
</p>
<table style="width: 100%;" border="1" cellspacing=0;>
    <tr>
        <td style="width: 10%; text-align: center;">
            Res 2674 Título II De 2013
        </td>
        <td style="width: 75%; text-align: center;">REQUISITO</td>
        <td>AM/PM</td>
        <td>CTA</td>
        <td>RI</td>
        <td>VL</td>
        <td>RC</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
<p>
    Utilice el cuadro de Notas de Apoyo para ampliar o justificar
    calificaciones como N.A – N.O u otras variables encontradas durante de la
    visita de Supervisión que ameriten claridad.
</p>
<p>Notas de Apoyo</p>
<p>
    - Los campos que aparecen sombreados y con NA, no se evalúan en la
    modalidad correspondiente.
</p>
<table style="width: 100%;" border="1" cellspacing=0;>
    <tr>
        <td style="width: 50%;">VISITA No</td>
        <td>MODALIDAD AM/PM C.T.A R.I. V.L. R.C</td>
    </tr>
    <tr>
        <td>NOMBRE DEL INTERVENTOR</td>
        <td>NOMBRE DE QUIEN RECIBE LA SOCIALIZACIÓN</td>
    </tr>
    <tr>
        <td>FIRMA</td>
        <td>FIRMA</td>
    </tr>
    <tr>
        <td>CEDULA</td>
        <td>CEDULA</td>
    </tr>
</table>
</body>
</html>
