<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FO-GESR-1655</title>
    <style>
        body {
            font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
            font-size: 0.8em;
        }

        td, tr, table {
            font-weight: 600;
            text-align: center;
            border-collapse: collapse;
            border: 1px solid black;
            
        }
        table{
            width: 100%;
        }

        th {
            background-color: rgb(217, 217, 217);
            border: 1px solid black;
            border-collapse: collapse;
        }

        td .cssi {
            color: rgb(170, 168, 168);
        }

        .banner {
            height: 20px;
        }

        .borde {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .ct {
            background-color: #009999
        }

        @media print {
            @page {
                size: landscape;
            }
        }
    </style>
</head>
<body>
    <div style="width: 100%;">
        <table style="width: 100%; " class="borde">
            <tr class="banner">
                <th class="borde ct" colspan="3"></th>
            </tr>
            <tr>
                <td class="borde" style="height: 30px; width: 7%;">Cód. FO-GESR-1655</td>
                <td style="width: 83% ;vertical-align: bottom;"><span style="color:#009999 ;">Formato</span></td>
                <td class="borde" style="width: 20%;" rowspan="2">imagen</td>
            </tr>
            <tr>
                <td class="borde" style="height: 30px">Versión. 1</td>
                <td style="vertical-align: baseline;"><span style="color:#009999 ;">FORMATO FO-GEST Acta de Visita de
                        Supervisión administrativa General - Seguridad Alimentaria</span></td>
            </tr>
            <tr class="banner">
                <td class="borde ct" colspan="3"></td>
            </tr>
        </table>
    </div>
    <div>
        <p>
            <strong>INFORMACIÓN GENERAL</strong> Registre la fecha de diligenciamiento del Instrumento utilizando dos dígitos para 
            día- mes y año, Seleccione con <strong>X</strong> el Operador evaluado, Diligencie con una <strong>X</strong> el Tipo de
            <strong>Complemento</strong> o complementos a evaluar y registre el nombre del Supervisor encargado de realizar el acta,
            esta información está sujeta a cambios de acuerdo a los pliegos de cada licitación del programa de Alimentación PAE 
        </p>
    </div>
    <div>
        <table>
            <tr>
                <th>CONTRATISTA</th>
                <th>GR LOGÍSTICA INTEGRAL</th>
                <td>&nbsp;</td>
                <th>ALIRIO GÓMEZ G. SERVICIOS DE ALIMENTACIÓN S.A.S</th>
                <td>&nbsp;</td>
                <th>CONSORCIO PAE MEDELLÍN</th>
                <td>&nbsp;</td>
                <th rowspan="2">FECHA</th>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <th>CONTRATISTA</th>
                <th>GR LOGÍSTICA INTEGRAL</th>
                <td>&nbsp;</td>
                <th>ALIRIO GÓMEZ G. SERVICIOS DE ALIMENTACIÓN S.A.S</th>
                <td>&nbsp;</td>
                <th>CONSORCIO PAE MEDELLÍN</th>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th rowspan="2">ESPACIO INTERVENIDO</th>
                <th>ESTABLECIMIENTO EDUCATIVO</th>
                <td colspan="7">&nbsp;</td>
            </tr>
            <tr>
                <th>DIRECCION</th>
                <td colspan="7">&nbsp;</td>
            </tr>
        </table>
    </div>
    <div>
        <p><strong>VISITA</strong> Registre la fecha según la directriz previa, diligencie la hora de inicio y de finalización de actividades de supervisión, seleccione con X si la visita es Efectiva y en caso negativo exprese el Motivo en las notas de apoyo, Diligencie con una X el Tipo de Complemento o complementos a evaluar en el E.E y registre el nombre del supervisor.</p>
    </div>
    <div>
        <table>
            <tr>
                <th>VISITA</th>
                <td>&nbsp;</td>
                <th>HORA DE INICIO</th>
                <td>&nbsp;</td>
                <th>HORA FINALIZACIÓN</th>
                <td colspan="3">&nbsp;</td>
                <th>VISITA EFECTIVA</th>
                <td>Si</td>
                <td>No</td>
            </tr>
            <tr>
                <th>COMPLEMENTO (S)</th>
                <th>COMPLEMENTO AM/PM</th>
                <td>&nbsp;</td>
                <th>COMPLEMENTO TIPO ALMUERZO</th>
                <td>&nbsp;</td>
                <th>RACIÓN INDUSTRIALIZADA</th>
                <td>&nbsp;</td>
                <th>RACIÓN DE CONTINGENCIA</th>
                <td>&nbsp;</td>
                <th>TIPO VASO DE LECHE</th>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>NOMBRE INTERVENTOR:</th>
                <td colspan="10">&nbsp;</td>
            </tr>
        </table>
    </div>
    <div>
        <p><strong>LISTA DE CHEQUEO</strong> Responda a cada una de los <strong>títulos de Preguntas Orientadoras</strong> en los siguientes términos:
            Cumple con la letra <strong>(C)</strong>, No cumple <strong>(N.C)</strong> , No observado <strong>(NO)</strong>  o No Aplica <strong>(NA)</strong>. 
            Debe respetar la casilla descrita para cada modalidad de atención Complemento <strong>(AM/PM)</strong>, Complemento tipo almuerzo <strong>(CTA)</strong> , 
            Ración Industrializada <strong>(RI)</strong> , Vaso de Leche <strong>(VL)</strong>  y ración de contingencia <strong>(RC)</strong> </p>
    </div>
    <div>
        <table>
            <tr>
                <th rowspan="2">No.</th>
                <th rowspan="2">PREGUNTAS ORIENTADORAS MANTENIMIENTO</th>
                <th colspan="5">REGISTRO</th>
            </tr>
            <tr>
                <th>AM/ PM</th>
                <th>CTA</th>
                <th>RI</th>
                <th>VL</th>
                <th>RC</th>
            </tr>
            <tr>
                <th colspan="7">INVENTARIO FÍSICO DE DOTACIÓN</th>
            </tr>
            <tr>
                <td>1.1</td>
                <td>¿El contratista codifica los equipos, teniendo en cuenta la utilización de material resistente a la humedad que permita su visualización en todo momento?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>    
                <td>1.2</td>
                <td>¿El contratista cuenta con el inventario de equipos debidamente diligenciado y actualizado?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>    
                <td>1.3</td>
                <td>El inventario que reposa en los establecimientos educativos, corresponde al entregado en Excel por los contratistas con todas las variables establecidas por especificaciones técnicas</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th colspan="7">MANTENIMIENTO DE EQUIPOS</th>
            </tr>
            <tr>    
                <td>2.1</td>
                <td>¿El contratista cuenta con el Cronograma por Establecimiento Educativo y fecha de ejecución de Mantenimientos Preventivos, igualmente se actualiza la información cuando se realiza dicho mantenimiento?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
    <div style="width: 100%; margin-top:20px">
        <table style="width: 100%; page-break-before: always;" class="borde">
            <tr class="banner">
                <th class="borde ct" colspan="3"></th>
            </tr>
            <tr>
                <td class="borde" style="height: 30px; width: 7%;">Cód. FO-GESR-1655</td>
                <td style="width: 83% ;vertical-align: bottom;"><span style="color:#009999 ;">Formato</span></td>
                <td class="borde" style="width: 20%;" rowspan="2">imagen</td>
            </tr>
            <tr>
                <td class="borde" style="height: 30px">Versión. 1</td>
                <td style="vertical-align: baseline;"><span style="color:#009999 ;">FORMATO FO-GEST Acta de Visita de
                        Supervisión administrativa General - Seguridad Alimentaria</span></td>
            </tr>
            <tr class="banner">
                <td class="borde ct" colspan="3"></td>
            </tr>
        </table>
    </div>
    <div style="margin-top:20px">
        <table>
            <tr>
                <th rowspan="2">No.</th>
                <th rowspan="2">PREGUNTAS ORIENTADORAS MANTENIMIENTO</th>
                <th colspan="5">REGISTRO</th>
            </tr>
            <tr>
                <th>AM/ PM</th>
                <th>CTA</th>
                <th>RI</th>
                <th>VL</th>
                <th>RC</th>
            </tr>
            <tr>    
                <td>2.2</td>
                <td>¿El contratista cuenta en su documentación, con el Plan de mantenimiento?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>    
                <td>2.3</td>
                <td>¿El contratista utiliza los formatos de calidad establecidos por el ESAN, para el diligenciamiento de hojas de vida, fichas técnicas, e inventario de equipos?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>    
                <td>2.4</td>
                <td>¿El contratista actualiza las Fichas técnicas y hojas de vida y reporta los resultados de los mantenimientos realizados?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th colspan="7">MANTENIMIENTO PREVENTIVO</th>
            </tr>
            <tr>    
                <td>3.1</td>
                <td>¿El contratista ejecuta los mantenimientos preventivos en la fecha programada, y levanta la información detallada en la hoja de vida de cada uno de los equipos, al igual que en la ficha técnica cuando requiere ser actualizada?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>    
                <td>3.2</td>
                <td>¿Las fichas técnicas y hojas de vida de los equipos están debidamente diligenciadas, y corresponden a los equipos del comedor escolar y fechas de la licitación vigente?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>    
                <td>3.3</td>
                <td>¿El contratista realiza el mantenimiento de pintura de equipos, de acuerdo al proceso de: limpieza, lijado, fosfatado, ¿aplicación de anticorrosivo y uniformidad de pintura que garantice la buena presentación del equipo, como lo indican las especificaciones técnicas?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>    
                <td>3.4</td>
                <td>¿El contratista realiza los mantenimientos preventivos a los equipos del comedor escolar, de acuerdo a los lineamientos de los numerales  9.2.3 y 10.3 del pliego de condiciones?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th colspan="7">MANTENIMIENTO CORRECTIVO</th>
            </tr>
            <tr>    
                <td>4.1</td>
                <td>¿El contratista realiza los mantenimientos correctivos dentro del plazo establecido en el pliego, 5 días hábiles escolares?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>    
                <td>4.2</td>
                <td>¿El contratista Informa el retiro de un equipo cuando la reparación de este lo requiera, y garantiza la disponibilidad de un equipo en óptimas condiciones que garantice la prestación del servicio?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>    
                <td>4.3</td>
                <td>¿Si en el mantenimiento preventivo se detectan fallas del equipo que requieran una acción correctiva, el contratista las repara dentro de 5 días hábiles escolares, como lo indica el pliego?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>    
                <td>4.4</td>
                <td>¿El funcionamiento de los equipos se encuentra en óptimas condiciones?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>    
                <td>4.5</td>
                <td>¿En términos generales, los mantenimientos correctivos se evidencian bien realizados?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>    
                <td>4.6</td>
                <td>¿La estructura de los equipos se evidencia en buenas condiciones, sin golpes significativos o partes rotas?</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th colspan="7">DOTACIÓN DE EQUIPOS DE MEDICIÓN</th>
            </tr>
            <tr>    
                <td>5.1</td>
                <td>¿El Contratista cuenta con equipos de medición que permiten calibración, y repone aquellos que requieren ser cambiados? </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
    <div style="width: 100%; margin-top:20px">
        <table style="width: 100%; page-break-before: always;" class="borde">
            <tr class="banner">
                <th class="borde ct" colspan="3"></th>
            </tr>
            <tr>
                <td class="borde" style="height: 30px; width: 7%;">Cód. FO-GESR-1655</td>
                <td style="width: 83% ;vertical-align: bottom;"><span style="color:#009999 ;">Formato</span></td>
                <td class="borde" style="width: 20%;" rowspan="2">imagen</td>
            </tr>
            <tr>
                <td class="borde" style="height: 30px">Versión. 1</td>
                <td style="vertical-align: baseline;"><span style="color:#009999 ;">FORMATO FO-GEST Acta de Visita de
                        Supervisión administrativa General - Seguridad Alimentaria</span></td>
            </tr>
            <tr class="banner">
                <td class="borde ct" colspan="3"></td>
            </tr>
        </table>
    </div>
    <div>
        <p>Notas de apoyo: Utilice el cuadro de <strong>Notas de Apoyo</strong> para ampliar o justificar calificaciones como N.A - N.O u otras variables encontradas durante de la visita de Supervisión que ameriten claridad, Esta información está sujeta a cambios de acuerdo a los pliegos de cada licitación del programa de Alimentación PAE </p>
    </div>
    <div style="width: 100%; height: 150px; border: 1px solid;">
        <p><strong> Notas de apoyo:</strong></p>
    </div>
    <table class="borde" style="width: 100%" >
        <tr class="borde">
          <th style="width: 12%;" class="borde" >VISITA No</th>
          <td class="borde"style="width: 25%;"></td>
          <th style="width: 47%;">MODALIDAD    </th>

          <td class="borde"style="width: 3%;">AM/PM</td>
          <td style="width: 3%;"></td>
          <td class="borde"style="width: 3%;">C.T.A</td>
          <td style="width: 3%;"></td>
          <td class="borde"style="width: 3%;">R.I.</td>
          <td style="width: 3%;"></td>
          <td class="borde"style="width: 3%;"> V.L.</td>
          <td style="width: 3%;"></td>
          <td class="borde"style="width: 3%;">R.C</td>
          <td style="width: 3%;"></td>
        </tr>
        <tr class="borde">
          <th style="width: 25%;" class="borde">NOMBRE DEL INTERVENTOR</th>
          <td style="width: 25%;"> </td>
          <th style="width: 25%;">NOMBRE DE QUIEN RECIBE LA SOCIALIZACIÓN</th>
          <td style="width: 25%;"> </td>
        </tr>
        <tr class="borde"> 
          <td class="borde">FIRMA</td>
          <td> </td>
          <td class="borde">FIRMA</td>
          <td> </td>
        </tr>
        <tr class="borde">
          <td class="borde">CEDULA</td>
          <td> </td>
          <td class="borde">CEDULA</td>
          <td> </td>
        </tr>
      </table>


    
    
</body>
</html>